{# src/prog3/AppunteBundle/Resources/views/Security/login.html.twig #}
{% extends '::layout.html.twig' %}

{% block menu %}
    <ul id="menu">
        <li><a href="{{ url('prog3_appunte_home') }}">Inicio</a></li>
        <li><a href="{{ url('register') }}">Registrarse</a></li>
    </ul>
{% endblock %}

{% block titulo %}
    <div class="header-logo">
        <h1>Inicio de Sesión</h1>
    </div>
{% endblock %}


{% block main %}
    <div class="block">
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}

        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}

            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
{% endblock %}
