{% extends '::layout.html.twig' %}

{% block title %}
	Appunte - Seleccion
{% endblock %}


{% block menu %}
    {{ parent() }}
	<ul id="menu">
        <li><a href="{{ url('prog3_appunte_home') }}">Appunte Home</a></li>
    </ul>
{% endblock %}


{% block titulo %}
	<div class="header-logo">
		<h1>{{apunte.Nombre}}</h1>
	</div>
{% endblock %}
						

{% block main %}
	<div class="block">
		<p> <b>Nombre del archivo:</b> {{apunte.Nombre}} </p>
		<p> <b>Materia:</b> {{apunte.getMateria().getNombre()}} </p>
		<p> <b>Carrera:</b> {{apunte.getMateria().getCarrera().getNombre()}} </p>
		<p> <b>Subido por:</b> {{apunte.getUsuario().getNombre()}}  {{apunte.getUsuario().getApellido()}}</p>
		<p> <b>Comentario:</b> {{apunte.Descripcion}} </p>
		<p> <b>Fecha:</b> {{apunte.Fecha | date('d-m-y')}} </p>
	</div>
{% endblock %}